<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Street</th>
        <% if user_signed_in? &&  current_user.admin? %>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @recycle_centers.each_with_index do |recycle_center, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to recycle_center.name, admin_recycle_center_path(recycle_center) %></td>
          <td><%= recycle_center.country %></td>
          <td><%= recycle_center.state %></td>
          <td><%= recycle_center.city %></td>
          <td><%= recycle_center.street %></td>
          <% if user_signed_in? &&  current_user.admin? %>
            <td>
              <%= link_to "Delete", [:admin, recycle_center], method: :delete, data: {confirm: "Are you sure?", title: 'Confirm Deletion'} %> 
              | 
              <%= link_to "Edit", "#", class: "edit_recycle_center", data: {recycle_center: recycle_center} %> 
              |
              <%= link_to "Add recycle material", admin_recycle_center_path(recycle_center), class: "add_recycle_material", data: {recycle_center: recycle_center} %> 
            </td>
          <% end %>  
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>
